* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: #303030;
  text-align: center;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin: 80px 0;
}

input[type="radio"] {
  display: none;
}

.radio-btn {
  color: #303030;
  font-size: 25px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  margin-bottom: 60px;
}

.radio-btn span {
  width: 20px;
  height: 20px;
  border: 2px solid #fbcd5a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 12px;
}

.radio-btn span::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fbcd5a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
}

.radio-btn:nth-of-type(2) span {
  border: 2px solid #8889b9;
  margin: 0 12px 0 15px;
}

.radio-btn:nth-of-type(2) span::after {
  background-color: #8889b9;
}

input[type="radio"]:checked + .radio-btn span::after {
  transform: translate(-50%, -50%) scale(1);
}

.profile-card {
  width: 230px;
  height: 240px;
  border-radius: 10px;
  position: relative;
  perspective: 800px;
}

.profiles {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px #33333370;
  border-radius: 10px;
  position: absolute;
  transition: all 1s;
  transform-style: preserve-3d;
}

.male-card,
.female-card {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 2px solid #fbcd5a;
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}

.female-card {
  border: 2px solid #8889b9;
  transform: rotateY(-180deg);
}

.male-card img,
.female-card img {
  height: 200px;
  -webkit-user-drag: none;
}

.radio-group .male:checked ~ .profile-card .profiles {
  transform: rotateY(0deg);
}
.radio-group .female:checked ~ .profile-card .profiles {
  transform: rotateY(-180deg);
}